@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-background: #09090b;
  --color-foreground: #fafafa;
}

* {
  border-color: theme(colors.zinc.800);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
